%h3= path
%h4 Attributes
%form#form{ :method =>'POST' }
  %table{:width => '100%'}
    %thead
      %tr
        %td Name
        %td Description
        %td Allow Read
        %td Allow Write
        %td Type
        %td Value
    %tbody
      - bean.send(get_set_method, params) do |attribute, value, rel_path, param_name|
        %tr
          - #puts "path=#{path} type=#{path.class.name} rel_path=#{rel_path} class=#{rel_path.class.name}"
          %td= link_to_attribute(path, rel_path)
          %td= attribute.description
          %td= attribute.allow_read
          %td= attribute.allow_write
          %td= attribute.type.to_s
          %td= attribute_value_tag(attribute, param_name, value)
  %input{ :type => 'submit', :value => 'Update' }

:javascript
  $("#form").submit(function() {
    $.post("#{attributes_path(path)}", $("#form").serialize(), function(result) {
      $("#content").html(result);
    });
    return false;
  });
