%h3= path
%h4 Attributes
%form#form{ :method =>'POST' }
  %table{:width => '100%'}
    %thead
      %tr
        %td Name
        %td Description
        %td Allow Read
        %td Allow Write
        %td Type
        %td Value
    %tbody
      - bean.send(get_set_method, params) do |attribute_info|
        - attribute = attribute_info.attribute
        %tr
          %td= rel_path(attribute_info.ancestry)
          %td= attribute.description
          %td= attribute.allow_read
          %td= attribute.allow_write
          %td= attribute.type.to_s
          %td= attribute_value_tag(attribute_info)
  %input{ :type => 'submit', :value => 'Update' }

:javascript
  $("#form").submit(function() {
    $.post("#{attributes_path(path)}", $("#form").serialize(), function(result) {
      $("#content").html(result);
    });
    return false;
  });
