%h3= path[1..-1]
%h4 Attribute
%table{}
  %tr
    %td  Name:
    %td= attribute.name
  %tr
    %td  Description:
    %td= attribute.description
  %tr
    %td  Allow Read:
    %td= attribute.allow_read
  %tr
    %td  Allow Write:
    %td= attribute.allow_write
  %tr
    %td  Type:
    %td= attribute.type.to_s
  %tr
    %td  Value:
    %td
      - if attribute.allow_write
        %form#form{ :method =>'POST'}
          = attribute_value_tag(attribute, param_name, value)
          %input{ :type => 'submit', :value => attribute.allow_read ? 'Update' : 'Set' }
      - else
        = value

:javascript
  $("#form").submit(function() {
    $.post("#{attribute_path(path)}", $("#form").serialize(), function(result) {
      $("#content").html(result);
    });
    return false;
  });
