%h3 Attributes
%form#form{ :method =>'POST' }
  %table{:width => '100%'}
    %thead
      %tr
        %td Name
        %td Description
        %td Allow Read
        %td Allow Write
        %td Type
        %td Value
    %tbody
      - attribute_value_hash.each do |attribute, value|
        %tr
          %td= link_to_attribute(path, attribute)
          %td= attribute.description
          %td= attribute.allow_read
          %td= attribute.allow_write
          %td= attribute.type.to_s
          %td= attribute_value_tag(bean, attribute, value)

  %input{ :type => 'submit', :value => 'Update' }

:javascript
  $("#form").submit(function() {
    $.post("#{attributes_path(path)}", $("#form").serialize(), function(result) {
      $("#content").html(result);
    });
    return false;
  });
