%h3= path[1..-1]
%h4 Operations
%table{:width => '100%'}
  %thead
    %tr
      %td Name
      %td Description
      %td Returns
      %td{:colspan => 5} Arguments
    %tr
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td Index
      %td Name
      %td Description
      %td Type
      %td Default Value
  %tbody
    - bean.bean_each_operation do |operation|
      %tr
        %td= link_to_operation(path, operation)
        %td= operation.description
        %td= operation.type.to_s
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
        %td &nbsp;
      - operation.arguments.each_with_index do |arg, i|
        %tr
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td= i+1
          %td= arg.name
          %td= arg.description
          %td= arg.type
          %td= arg.default_value
